<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Task Manager</title>
</head>

<body>
    <nav class="navbar">
        <h1 class="navbar-heading">{{ task }}</h1>
    </nav>
    <div class="container" id="form-container">
        <form action="{{ url_for('web.create') }}" method="POST">
            <label for="task">Write Task</label>
            <input type="text" name="task" placeholder="Enter your task" required>
            <label for="description">Description</label>
            <input type="text" name="description" placeholder="Enter your description" required>
            <button type="submit">Create</button>
        </form>
    </div>
    <div class="container" id="task-container">
        <div class="task-grid">
            {% for task in tasks %}
            <div class="task">
                <form method="POST" action="{{ url_for('web.update', id=task.id) }}">
                    <div class="task-id">Task ID: {{ task.id }}</div>
                    <div class="task-title"><input type="text" name="task" value="{{ task.title }}" required></div>
                    <div class="task-description"><input type="text" name="description" value="{{ task.description }}" required></div>
                    <div class="task-complete">
                        <label>
                            <input type="checkbox" name="complete" {% if task.complete %}checked{% endif %}>
                            Complete
                        </label>
                    </div>
                    <button type="submit">Update</button>
                </form>
                <form method="POST" action="{{ url_for('web.delete', id=task.id) }}">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </div>
            {% else %}
            <p>No tasks to display</p>
            {% endfor %}
        </div>
    </div>
</body>

</html>